.about__content
    .about__photo
        img(src="./assets/img/userpic.png", alt="").about__avatar
    .about__desc
        .about__desc-hello Привет! Меня зовут
        h2.about__title Николай Герасимов
        .about__desc-text
            p Я отучился на истфаке МГУ, но меня всегда привлекала практика. 
            p Вебразработка дает уникальную возможность видеть результаты своей работы здесь и сейчас, что приносит мне ни с чем не сравнимое удовлетворение.