.burger__wrapper#hamburger-menu
    ul.burger__list
        li.burger__item 
            a(href="#elem1").burger__link Главная
        li.burger__item 
            a(href="#elem2").burger__link Обо мне
        li.burger__item 
            a(href="#elem3").burger__link Навыки
        li.burger__item 
            a(href="#elem4").burger__link Работы
        li.burger__item 
            a(href="#elem5").burger__link Сертификаты
        li.burger__item 
            a(href="#elem6").burger__link Связаться
    a.burger__close
        <svg class="close__icon">
            <use xlink:href="#close"></use>
        </svg>