h2.section__title.cert__title Я постоянно учусь

    
<div class="carousel-container">
    
    <div id="carousel">
        <div class="carousel-feature">
            <a href="./assets/img/certs/js.png" data-lightbox="js"><img class="carousel-image" alt="Image Caption" src="./assets/img/certs/js.png"></a>
            <div class="carousel-caption">
                <svg class="open__icon">
                    <use xlink:href="#open"></use>
                </svg>
                <p> Javascript
                </p>
            </div>
        </div>
        <div class="carousel-feature">
            <a href="./assets/img/certs/webdev.png" data-lightbox="webdev"><img class="carousel-image" alt="Image Caption" src="./assets/img/certs/webdev.png"></a>
            <div class="carousel-caption">
                <svg class="open__icon">
                    <use xlink:href="#open"></use>
                </svg>
                <p> Webdev
                </p>
            </div>
        </div>
        <div class="carousel-feature">
            <a href="./assets/img/certs/markup.png" data-lightbox="markup"><img class="carousel-image" alt="Image Caption" src="./assets/img/certs/markup.png"></a>
            <div class="carousel-caption">
                <svg class="open__icon">
                    <use xlink:href="#open"></use>
                </svg>
                <p> HTML markup
                </p>
            </div>
        </div>
        <div class="carousel-feature">
            <a href="./assets/img/certs/indexis.png" data-lightbox="indexis"><img class="carousel-image" alt="Image Caption" src="./assets/img/certs/indexis.png"></a>
            <div class="carousel-caption">
                <svg class="open__icon">
                    <use xlink:href="#open"></use>
                </svg>
                <p> Стажировка
                </p>
            </div>
        </div>
    </div>
    
    <div class="carousel-controls">
        <div id="carousel-left">
            <svg class="controls__icon arrow-left">
                <use xlink:href="#arrow"></use>
            </svg>
        </div>
        <div id="carousel-right">
            <svg class="controls__icon arrow-left">
                <use xlink:href="#arrow"></use>
            </svg>
        </div>
    </div>
</div>