.footer__wrapper 
    .footer__part.footer__copy
        .footer__name
            p Николай
            p Герасимов
        .footer__desc 
            p Личный сайт
            p веб-разработчика
    .footer__socials.footer__part
        a(href="www.linkedin.com/in/nikolay-gerasimov-25247160").footer__link
            <svg class="footer__icon" >
                <use xlink:href="#linkedin"></use>
            </svg>
        a(href="https://www.facebook.com/profile.php?id=1061692708").footer__link
            <svg class="footer__icon">
                <use xlink:href="#fb"></use>
            </svg>
        a(href="https://github.com/horigy").footer__link
            <svg class="footer__icon">
                <use xlink:href="#github"></use>
            </svg>
    .footer__quote.footer__part
        .footer__quote-text
            p Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает, где вы живете.
        .footer__quote-author
            p Martin Golding
    