header.header
    .header__logo
        .logo NG
    .header__btns
        nav.menu.scroll
            li.menu__item 
                a(href="#elem1").menu__link Главная
            li.menu__item 
                a(href="#elem2").menu__link Обо мне
            li.menu__item 
                a(href="#elem3").menu__link Навыки
            li.menu__item 
                a(href="#elem4").menu__link Работы
            li.menu__item 
                a(href="#elem5").menu__link Сертификаты
            li.menu__item 
                a(href="#elem6").menu__link Связаться
            
    .header__socials 
        ul.header__socials-list
            li.header__socials-item
                a(href="www.linkedin.com/in/nikolay-gerasimov-25247160").header__socials-item
                    <svg class="socials__icon">
                        <use xlink:href="#linkedin"></use>
                    </svg>
            li.header__socials-item
                a(href="https://www.facebook.com/profile.php?id=1061692708").header__socials-item
                    <svg class="socials__icon">
                        <use xlink:href="#fb"></use>
                    </svg>
            li.header__socials-item
                a(href="https://github.com/horigy").header__socials-item
                    <svg class="socials__icon">
                        <use xlink:href="#github"></use>
                    </svg>
        a(href="#").header__hamburger
            .hamburger__link-bars


