h2.skills__title Чем я могу быть полезен вам
ul.skills__list 
    li.skills__row
        .skills__item#hexagon HTML5
        .skills__item.moved#hexagon CSS3
        .skills__item#hexagon Javascript
    li.skills__row.middle
        .skills__item#hexagon Git
        .skills__item.moved#hexagon Terminal
        .skills__item#hexagon Gulp
        .skills__item.moved#hexagon Webpack
    li.skills__row
        .skills__item#hexagon Jquery
        .skills__item.moved#hexagon Vue.js

+image("backpack.png", "skills__bg")