.slider__title 
    h2.section__title.works__title Мои работы
    .slider__controls
        a(href="#").slider-arrow-left#slider-left 
            <svg class="controls__icon arrow-left">
                <use xlink:href="#arrow"></use>
            </svg>
        a(href="#").slider-arrow-right#slider-right
            <svg class="controls__icon arrow-right">
                <use xlink:href="#arrow"></use>
            </svg>
.slider__wrapper
    ul.slider__list#slider-items
        li.slider__item
            a(href="./assets/img/slider/mrburger.png" data-lightbox="mrburger").slider__img
                img(src="./assets/img/slider/mrburger.png" alt="").slider__pic
            .slider__desc 
                ul.slider__desc-tags
                    li.slider__desc-tag HTML
                    li.slider__desc-tag CSS
                    li.slider__desc-tag Javascript
                    li.slider__desc-tag API
                h3.slider__desc-title Сайт бургерочной
                .slider__desc-text
                    p Этот демо-сайт я сверстал в рамках курсов Loftschool. Собран с помощью вебпака, адаптивная верстка по медизапросам, слайдеры и аккордеоны на нативном js.
                a(href="https://horigy.github.io/ngerasimov.github.io/mr-burger/").slider__desc-link
                    <svg class="link__icon">
                        <use xlink:href="#link"></use>
                    </svg>
                    p Посмотреть сайт
        li.slider__item
            a(href="./assets/img/slider/portfolio.png" data-lightbox="portfolio").slider__img
                img(src="./assets/img/slider/portfolio.png" alt="").slider__pic
            .slider__desc 
                ul.slider__desc-tags
                    li.slider__desc-tag HTML
                    li.slider__desc-tag CSS
                    li.slider__desc-tag Javascript
                    li.slider__desc-tag Jquery
                h3.slider__desc-title Портфолио
                .slider__desc-text
                    p Это сайт портфолио, который вы сейчас видите. Параллакс на нативном js, пара плагинов jquery, адаптив. Код можно посмотреть на гитхабе по ссылке.
                a(href="https://horigy.github.io/ngerasimov.github.io/portfolio/").slider__desc-link
                    <svg class="link__icon">
                        <use xlink:href="#link"></use>
                    </svg>
                    p Посмотреть сайт
        li.slider__item
            a(href="./assets/img/slider/maps.png" data-lightbox="andother").slider__img
                img(src="./assets/img/slider/maps.png" alt="").slider__pic
            .slider__desc 
                ul.slider__desc-tags
                    li.slider__desc-tag Yandex API
                    li.slider__desc-tag Javascript
                h3.slider__desc-title Карта с добалением отзывов
                .slider__desc-text
                    p Здесь реализована карта с возможностью добавления пользовательских меток. Это задание было выполнено в рамках курса Loftschool по Javascript.
                a(href="https://horigy.github.io/ngerasimov.github.io/maps/").slider__desc-link
                    <svg class="link__icon">
                        <use xlink:href="#link"></use>
                    </svg>
                    p Посмотреть сайт


