.skills__container {
    padding-top: 150px;
    padding-bottom: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;

    @media screen and (max-width: 900px) {
        padding-top: 90px;
        padding-bottom: 100px;
    }

    @media screen and (max-width: 600px) {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

.skills__title {
    font-size: 30px;
    font-weight: bold;
    color: $primary-color;
    text-align: center;
    margin-bottom: 150px;

    @media screen and (max-width: 900px) {
        margin-bottom: 130px;
    }

    @media screen and (max-width: 800px) {
        margin-bottom: 100px;
    }

    @media screen and (max-width: 500px) {
        font-size: 24px;
    }
}

.skills__list {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 45%;

    @media screen and (max-width: 1200px) {
        padding-left: 40%;
    }

    @media screen and (max-width: 900px) {
        padding-left: 35%;
    }

    @media screen and (max-width: 800px) {
        padding-left: 20%;
    }

    @media screen and (max-width: 700px) {
        padding-left: 5%;
    }

    @media screen and (max-width: 600px) {
        flex-direction: row;
    }

    @media screen and (max-width: 500px) {
        padding-left: 0;
        margin-left: -20px;
    }
}

.skills__row {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;

    @media screen and (max-width: 600px) {
        flex-direction: column;
        margin-bottom: 0;
        // margin-right: 10px;
    }
}

.middle {
    padding-left: 55px;
    @media screen and (max-width: 600px) {
        padding-left: 0;
    }
    
}

.skills__item {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    margin-right: 9px;

    @media screen and (max-width: 600px) {
        margin-bottom: 30px;
    }
}




#hexagon {
	width: 100px;
	height: 55px;
	background: $purple-color;
	position: relative;
    border-top: 1px solid $purple-color;
    border-bottom: 1px solid $purple-color;
    border-radius: 4px;
}
#hexagon:before {
	content: "";
	position: absolute;
	top: -26px; 
	left: 0;
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 27px solid $purple-color;
}
#hexagon:after {
	content: "";
	position: absolute;
	bottom: -26px; 
	left: 0;
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-top: 27px solid $purple-color;
}

.skills__bg {
    position: absolute;
    width: 500px;
    opacity: .6;
    left: 12%;
    top: 34%;
    z-index: -1;

    @media screen and (max-width: 1200px) {
        left: -5%;
    }

    @media screen and (max-width: 1000px) {
        left: -7%;
    }

    @media screen and (max-width: 900px) {
        width: 400px;
        left: 2%;
    }

    @media screen and (max-width: 800px) {
        top: 30%;
        left: 0;
    }

    @media screen and (max-width: 900px) {
        width: 100%;
        top: unset;
    }
}

.moved {
    @media screen and (max-width: 600px) {
        transform: translateX(55px);
    }
}

